.bulleT {
    font: 10px sans-serif;
    margin-left: auto;
    margin-right: auto;
}

.bulleT .marker {
    stroke: #D3D3D3;
    stroke-width: 2px;
}

.bulleT .marker.s0 {
    fill-opacity: 0;
    stroke: #000;
    stroke-width: 2px;
}

.bulleT .marker.s1 {
    fill-opacity: 0;
    stroke: #000;
    stroke-width: 2px;
}

.bulleT .tick line {
    stroke: #666;
    stroke-width: .5px;
}

.bulleT .range.s0 {
    fill: #bb0000;
}

.bulleT .range.s1 {
    fill: #e78c07;
}

.bulleT .range.s2 {
    fill: #D3D3D3;
}

.bulleT .range.s3 {
    fill: #BEBEBE;
}

.bulleT .range.s4 {
    fill: #696969;
}

.bulleT .measure.s0 {
    fill: #bb0000;
}

.bulleT .measure.s1 {
    fill: #e78c07;
}

.bulleT .measure.s2 {
    fill: #D3D3D3;
}

.bulleT .measure.s3 {
    fill: #eeeeee;
}

.bulleT .measure.s4 {
    fill: #D3D3D3;
}

.bulleT .measure.s5 {
    fill: #BEBEBE;
}

.bulleT .measure.s6 {
	
    fill: #696969;
}

.bulleT .title {
    font-size: 12px;
    font-weight: bold;
}

.bulleT .subtitle.s04 {
    fill: #000000;
    font-size: 16px;
    font-weight: bold;
}

.bulleT .subtitle.s13 {
    fill: #999999;
    font-size: 12px;
    font-weight: bold;
}

.bulleT .subtitle.s2 {
    fill: #999999;
    font-size: 10px;
}