/* Enter your custom styles here */

.productiontimes { fill: lightgrey; cursor: help;}
/*.productiontime--rt { fill: #4cba6b; }*/
.productiontime--rt { fill: #d9d9d9; }
.productiontime--st { fill: #f5b04d; }
/*.productiontime--dt { fill: #dc0d0e; }*/
.productiontime--dt { fill: red; }
.productiontime--ut { fill: #de890d; }
.productiontime-- { fill: black; }
.area__line {stroke: #1866B4; fill: None}
.area {fill: #B2D4F5;}
.productiontimes, .area, .area__line {
    clip-path: url(#clip);
}